In [13]:
import pandas as pd
import json
from pandas.io.json import json_normalize

with open('data2.json') as data_file:    
    data = json.load(data_file)


df = pd.read_json('data2.json')

df = pd.DataFrame([device for device in df.devices])
df

,address,firstseen,hardware_address,make,model,name,state,type
0,10.84.64.1,2020-01-22 4:51 PM,00:08:E3:FF:FC:28,NaN,NaN,NaN,UP,Router
1,10.84.65.1,2020-01-22 4:51 PM,00:B3:62:C0:21:B9,Apple,iPhone,NaN,UP,Mobile
2,10.84.65.4,2020-01-22 4:51 PM,10:94:BB:D7:A0:04,Apple,MacBook,NaN,UP,Laptop
3,10.84.65.5,2020-01-22 4:51 PM,F4:5C:89:A7:E8:17,Apple,MacBook PRO,MACBOOKPRO-E817,UP,Laptop
4,10.84.65.6,2020-01-22 4:51 PM,30:57:14:7B:8D:7A,Apple,iPhone,NaN,UP,Mobile
...,...,...,...,...,...,...,...,...
902,10.84.94.91,2020-01-22 4:51 PM,14:C2:13:B8:A5:FC,Apple,NaN,NaN,UP,Mobile
903,10.84.94.94,2020-01-22 4:51 PM,DC:A9:04:72:0F:A9,Apple,MacBook PRO,MACBOOKPRO-0FA9,UP,Laptop
904,10.84.94.101,2020-01-22 4:51 PM,F4:AF:E7:D0:6F:F1,Apple,iPhone,NaN,UP,Mobile
905,10.84.94.108,2020-01-22 4:51 PM,38:F9:D3:87:BA:F7,Apple,MacBook,MACBOOKAIR-BAF7,UP,Laptop
906,10.84.94.114,2020-01-22 4:51 PM,CC:D2:81:50:39:F2,Apple,iPhone,NaN,UP,Mobile

In [68]:
print(df['devices'].to_string)

<bound method Series.to_string of 0      {'type': 'Router', 'firstseen': '2020-01-22 4:...
1      {'type': 'Mobile', 'firstseen': '2020-01-22 4:...
2      {'type': 'Laptop', 'firstseen': '2020-01-22 4:...
3      {'type': 'Laptop', 'firstseen': '2020-01-22 4:...
4      {'type': 'Mobile', 'firstseen': '2020-01-22 4:...
                             ...
902    {'type': 'Mobile', 'firstseen': '2020-01-22 4:...
903    {'type': 'Laptop', 'firstseen': '2020-01-22 4:...
904    {'type': 'Mobile', 'firstseen': '2020-01-22 4:...
905    {'type': 'Laptop', 'firstseen': '2020-01-22 4:...
906    {'type': 'Mobile', 'firstseen': '2020-01-22 4:...
Name: devices, Length: 907, dtype: object>